<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Auto Oferty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
             <ul class="navbar-nav" *ngIf="isLogged === false">
                 <li (click)="openRegisterModal()">
                     <a href="#"><i class="fas fa-user"></i> Rejestracja</a>
                 </li>
                 <li (click)="openLoginModal()">
                     <a href="#"><i class="fas fa-sign-in-alt"></i> Logowanie</a>
                 </li>
            </ul>
            <ul class="navbar-nav" *ngIf="isLogged === true">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{user.name}}<br /><small>{{user.email}}</small>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" (click)="logout()">Wyloguj się</a>
                    </div>
                </li>
          </ul>
            </span>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<app-login [(visible)]="openedLoginModal" (registerModal)="openRegisterModal()" (onLogin)="onLogin()"
           (onClose)="onCloseLoginModal()"></app-login>
<app-register [(visible)]="openedRegisterModal" (loginModal)="openLoginModal()"
              (onClose)="onCloseRegisterModal()"></app-register>


<app-alerts></app-alerts>