<img class="banner" src="assets/banner.jpg" alt="Auto Oferty">


<div class="banner">
  Znajdź swój samochód
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ng-select (change)="onChangeBrand()" (clear)="onChangeBrand()" [disabled]="brands == null" [(ngModel)]="brand" placeholder="Wybierz markę">
                <ng-option *ngFor="let item of brands" [value]="item.id">{{item.name}}</ng-option>
            </ng-select>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ng-select (change)="onChangeModel()" (clear)="onChangeModel()" [disabled]="models == null" [(ngModel)]="model" placeholder="Wybierz model">
                <ng-option *ngFor="let item of models" [value]="item.id">{{item.name}}</ng-option>
            </ng-select>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ng-select [disabled]="versions == null" [(ngModel)]="version" placeholder="Wybierz wersję">
                <ng-option *ngFor="let item of versions" [value]="item.id">{{item.name}}</ng-option>
            </ng-select>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6">
            <button class="btn btn-dark form-control" style="margin-top: 15px;">Szukaj!</button>
        </div>
    </div>
</div>


<div class="banner">
  Polecane oferty
</div>
<div class="container-fluid">
  <div class="row" style="padding: 0 5% 0 5%; margin: 0;">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let offer of popularOffers"
         style="padding: 10px;">
      <div class="card">
        <img class="card-img-top" [src]="'/storage/' + offer.photo" alt="{{offer.name}}" style="height: 200px;">
        <div class="price">{{offer.price}}zł</div>
        <div class="card-header oneline">
          <b>
          {{offer.name}}
          </b>
        </div>
        <div class="card-body content">
            <b>Rodzaj paliwa:</b> {{offer.fuelType}}<br />
            <b>Moc silnika:</b> {{offer.enginePower}} KM<br />
            <b>Rok produkcji:</b> {{offer.productionYear}}<br />
            <b>Przebieg:</b> {{offer.meterStatus}} km<br />
        </div>
      </div>
    </div>
  </div>
</div>
