<div class="container-modal" *ngIf="visible" (click)="close($event, true)">

    <div class="row align-items-center justify-content-center">
        <div class="col-sm-11 col-md-11 col-lg-6">
            <!-- Material form login -->
            <div class="card" [@dialog]>

                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Zakładanie nowego konta</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;">

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <!-- Name -->
                                <div class="md-form">
                                    <input type="email" id="materialLoginFormName" class="form-control">
                                    <label for="materialLoginFormName">Imię</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <!-- Email -->
                                <div class="md-form">
                                    <input type="email" id="materialLoginFormEmail" class="form-control">
                                    <label for="materialLoginFormEmail">E-mail</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <!-- Password -->
                                <div class="md-form">
                                    <input type="password" id="materialLoginFormPassword" class="form-control">
                                    <label for="materialLoginFormPassword">Hasło</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <!-- Password -->
                                <div class="md-form">
                                    <input type="password" id="materialLoginFormPassword2" class="form-control">
                                    <label for="materialLoginFormPassword2">Powtórz hasło</label>
                                </div>
                            </div>
                        </div>
                        <!-- register button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                type="submit">Zarejestruj się
                        </button>

                        <!-- Login -->
                        <p>Masz już konto?
                            <a (click)="openLoginModal()">Zaloguj się</a>
                        </p>

                        <!-- Cancel button -->
                        <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0"
                                data-close="true" (click)="close($event)">Anuluj
                        </button>

                    </form>
                    <!-- Form -->
                    <app-loader [visible]="loading"></app-loader>
                </div>

            </div>
            <!-- Material form login -->
        </div>
    </div>
</div>