
.navbar {
    box-shadow: 0 0 10px black;
}

.navbar-text {
    position: absolute;
    right: 10px;
}

.navbar-text li {
    margin-right: 15px;
}

.container-fluid {
    padding: 0 !important;
}

img.banner {
    width: 100%;
}
div.banner {
    width: 100%;
    height: 50px;
    background: #343a40;
    line-height: 50px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 20px;
    box-shadow: 0 0 10px black;
    text-shadow: 3px 3px 5px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

div.price {
    position: absolute;
    right: 0;
    background: #343a40;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.oneline {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-body.content {
    font-size: 13px;
}

.modal.opened {
    display: block !important;
    background: rgba(0,0,0,0.55);
}

.container-modal {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.55);
}

.container-modal>.row {
    height: 100%;
}

.card-body {
    position: relative;
}


.alertsContainer {
    z-index: 9999;
}

.alertsRow>.messagepanel {
    height: 100% !important;
    margin-left: 50px;
}

.alertsRow>.iconpanel {
    padding: 0 !important;
    position: absolute;
    height: 100% !important;
}

.dropdown-menu {
    background: lavender;
    position: absolute !important;
    width: 100%;
}

.nav-item.user {
    font-size: 22px;
    padding: 0 15px;
}

.navbar-collapse.show {
    height: 60px;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.result-box {
    position: absolute;
    background: white;
    max-width: 180%;
    width: 130%;
    z-index: 1;
    padding: 10px;
    border: solid 2px #4285F4;
}

.result-box__item {
    text-align: left;
    color: #4285F4;
    border-bottom: 1px #4285F4 solid;
}
.result-box__item:hover {
    color: #285195;
}

.result-box__footer {
    color: #3061b1;
    font-size: 9px;
    text-align: right;
    position: relative;
    top: 5px;
    right: -5px;
}

.bs-switch {
    position: relative;
    top: 20px;
}

.ng-select {
    top: 12px;
}

.ng-select.is-invalid .ng-select-container:after {
    border-bottom: 1px solid red;
}

.ng-select.ng-select-disabled.is-invalid .ng-select-container:after {
    background-image: linear-gradient(to right, rgba(255,0,0,0.42) 50%, rgba(255,0,0,0.42) 85%, transparent 0%);
}

.invalid-feedback {
    display: block !important;
}

.alertsContainer[_ngcontent-c3] {
    position: fixed !important;
}



.text-nowrap > .glyphicon {
    margin-left: 10px;
}

.dz-filename {
    display: none;
}

.dz-size {
    display: none;
}